# General
snippet met "Method" b
const ${1:methodName} = (${2}) {
	$0
}
endsnippet

snippet '(\w+).fre' "for Each expansion" ir
`!p snip.rv = match.group(1)`.forEach(e => {
	$1
});
$0
endsnippet

snippet fin "for ... in expansion"
for(let ${1:itemName} in ${2:objectName}) {
	$3
}
$0
endsnippet

snippet dob "Destructure object"
const { ${1:propName} } = ${2:objectToDestruct};
$0
endsnippet

snippet dar "Destructure array"
const [ ${1:propName} ] = ${2:arrayToDestruct};
$0
endsnippet
