# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Richard Tang
	email = ringtack2002@gmail.com
#	name = Richard Tang
#	email = ringtack@Richards-MacBook-Pro.local
[alias]
	graph = log --all --graph --decorate --oneline
	last = log -1 HEAD
	br = branch
	co = checkout
	ci = commit
	st = status
	re = remote

[core]
	excludesfile = /Users/ringtack/.gitignore_global
	pager = 
#	editor = code --wait
[help]
	autocorrect = 0
